# API Keys
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GH_TOKEN=

# Dxrk
DXRK_TRACE=false

# Engram
ENGRAM_DATA_DIR=
ENGRAM_DATABASE_URL=
ENGRAM_PORT=
ENGRAM_PROJECT=
ENGRAM_CLOUD_HOST=
ENGRAM_CLOUD_SERVER=
ENGRAM_CLOUD_TOKEN=
ENGRAM_JWT_SECRET=
ENGRAM_AGENT_CLI=
ENGRAM_CLOUD_ADMIN=
ENGRAM_CLOUD_AUTOSYNC=
ENGRAM_CLOUD_ALLOWED_PROJECTS=
